body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

#resultados {
  font-size: 18px;
  margin-top: 20px;
}
